# Sublime automatically created files #
#######################################
*.sublime-project
*.sublime-workspace

# Vim automatically created files #
###################################
*~
.vimrc
